<section>
  <a name="competences"></a>
  <table class="table table-bordered table-striped table-sm">
    <thead class="table-dark">
      <tr>
        <th colspan="2"><a href="#competences" onclick="_gaq.push(['_trackEvent', 'Section', 'Compétences']);"><i class="bi-layers"></i><h2>Compétences</h2></a>
    <tbody>
      <tr>
        <td class="text-center">Techniques
        <td>
          <ul>
            PHP / MySQL / HTML (5) / CSS (Less.js) / JS
            Symfony
            Flutter
            React.js
            TypeScript
            Doctrine

            Magento
            WordPress

            PostgreSQL/PostGIS

            Zoom/Jitsi/Twilio/Ratchet

            Git
            
            <li>Environnements : <strong>Linux</strong> (Ubuntu/Debian), macOS
      <tr>
        <td class="text-center">Linguistiques
        <td>
          <ul>
            <li><strong>Anglais</strong> : lu, écrit et parlé (très bon niveau technique)
            <li>Allemand : notions (niveau scolaire)
  </table>
</section>