      <section>
        <a name="competences"></a>
        <table class="table table-bordered table-striped table-sm">
          <thead class="table-success">
            <tr>
              <th colspan="2"><a href="#competences" onclick="_gaq.push(['_trackEvent', 'Section', 'Compétences']);"><i class="bi-layers"></i><h3>Compétences</h3></a>
          <tbody>
            <tr>
              <td class="text-center">Techniques
              <td>
                <ul>
                  <li>Frontend : <strong>HTML5</strong>,  CSS3 (Bootstrap, Less.js), <strong>JS</strong> (jQuery, React.js, TypeScript, Node.js)
                  <li>Backend : <strong>PHP</strong>, Apache, <strong>Symfony</strong>, Magento, WordPress, Websocket (Ratchet), RabbitMQ, eZ Publish
                  <li>Base de données : <strong>MySQL</strong>, MariaDB, Propel, <strong>Doctrine</strong>, PostgreSQL/PostGIS, <strong>SQLite</strong>, MongoDB
                  <li>Mobile : <strong>Flutter</strong>, Dart, <strong>Firebase</strong> (Cloud Messaging, Remote Config), fastlane, Android (Goole Play Store), iOS (Xcode, Apple Store)
                  <li>DevOps : <strong>Linux</strong> (Ubuntu/Debian), macOS, <strong>Git</strong>, Shell scripting, <strong>Jenkins</strong>, Bitbucket Pipelines, <strong>Kubernetes</strong>, Zoom, Twilio
                  <li>Tests/Debug/Profiling/Monitoring : <strong>PHPUnit</strong>, Selenium, <strong>XDebug</strong>, JMeter, ab, <strong>Blackfire</strong>
            <tr>
              <td class="text-center">Linguistiques
              <td>
                <ul>
                  <li><strong>Anglais</strong> : lu, écrit et parlé (très bon niveau technique)
                  <li>Allemand : notions (niveau scolaire)
        </table>
      </section>