      <section>
        <a name="competences"></a>
        <table class="table table-bordered table-striped table-sm">
          <thead class="table-success">
            <tr>
              <th colspan="2"><a href="#competences" onclick="_gaq.push(['_trackEvent', 'Section', 'Compétences']);"><i class="bi-layers"></i><h3>Compétences</h3></a>
          <tbody>
            <tr>
              <td class="text-center">Techniques
              <td>
                <ul>
                  <li>Langages : <strong>PHP</strong>, HTML(5), CSS (Less.js), JS (React.js, TypeScript), <strong>Dart</strong>, Websocket (Ratchet)
                  <li>Bases de données : <strong>MySQL</strong>, Doctrine, PostgreSQL/PostGIS
                  <li>Frameworks / APIs / Toolkits : <strong>Symfony</strong>, Magento, <strong>Bootstrap</strong>, WordPress, Zoom, Twilio, <strong>Flutter</strong>
                  <li>Environnements : <strong>Linux</strong> (Ubuntu/Debian), macOS
            <tr>
              <td class="text-center">Linguistiques
              <td>
                <ul>
                  <li><strong>Anglais</strong> : lu, écrit et parlé (très bon niveau technique)
                  <li>Allemand : notions (niveau scolaire)
        </table>
      </section>