      <section>
        <a name="diplomes"></a>
        <table class="table table-bordered table-striped table-sm">
          <thead class="table-success">
            <tr>
              <th colspan="2"><a href="#diplomes" onclick="_gaq.push(['_trackEvent', 'Section', 'Diplômes']);"><i class="bi-award"></i><h3>Diplômes</h3></a>
          <tbody>
            <tr>
              <td class="text-center">Jui. 2005
              <td>
                <dl>
                  <dt>DUT Informatique · Option Génie Informatique <span class="text-muted"><small>(IUT Paul Sabatier · Toulouse, 31)</small>
                  <dd><span class="text-muted">Mention Bien (Major de promotion)
            <tr>
              <td class="text-center">Jui. 2002
              <td>
                <dl>
                  <dt>Baccalauréat S · Option Mathématiques <span class="text-muted"><small>(Lycée Antoine Bourdelle · Montauban, 82)</small>
                  <dd><span class="text-muted">Mention Bien
        </table>
      </section>