      <section>
        <a name="divers"></a>
        <table class="table table-bordered table-striped table-sm">
          <thead class="table-success">
            <tr>
              <th colspan="2"><a href="#divers" onclick="_gaq.push(['_trackEvent', 'Section', 'Divers']);"><i class="bi-pin-angle"></i><h3>Divers</h3></a>
          <tbody>
            <tr>
              <td colspan="2">
                <ul>
                  <li>Activités : bénévole à l'<a href="https://usmsapiac.fr/" target="_blank">USM Rugby</a> (journal papier et site de l'Association, site de l'<a href="http://www.anciensusm.fr/" target="_blank">Amicale des Anciens</a>)
                  <li>Loisirs : bricolage/rénovation, course à pied, VTT, bandes dessinées
        </table>
      </section>