      <section>
        <a name="experiences-professionnelles"></a>
        <table class="table table-bordered table-striped table-sm">
          <thead class="table-success">
            <tr>
              <th colspan="2"><a href="#experiences-professionnelles" onclick="_gaq.push(['_trackEvent', 'Section', 'Expériences professionnelles']);"><i class="bi-briefcase"></i><h3>Expériences professionnelles</h3></a>
          <tbody>
            <tr>
              <td class="text-center">
                Depuis Oct. 2012
                <span class="text-muted">Directeur Technique (2 ans)</span>
                <span class="text-muted">Lead Developer (3 ans)</span>
                <span class="text-muted">Senior Developer (3 ans)</span>
              <td>
                <dl>
                  <dt>Directeur Technique - <span class="text-muted"><a href="https://www.marcom-connect.fr" target="_blank">Marcom Connect</a> <small>(Montauban, 82 · 5-10 employés)</small>
                  <dd>
                    <ul>
                      <li>Gestion de projets et développement de certains modules pour une application mobile cross-platform : <a href="https://play.google.com/store/apps/details?id=com.marcomconnect.onsite" target="_blank">Google Play</a> et <a href="https://apps.apple.com/fr/app/marcom-onsite/id1470919264" target="_blank">Apple Store</a>
                      <li>Création d'une solution dynamique fusionnant/remplaçant les anciens produits : <a href="https://www.marcom-ace.com/fr" target="_blank">ACE</a>
                      <li>Maintenance d'applications Web de prise de rendez-vous et de networking entre participants (présentiel et virtuel) : <a href="https://www.marcom-connect.fr/prise-de-rendez-vous-d-affaires/marcom-eschedule-pro/" target="_blank">eSchedule PRO</a> et <a href="https://www.marcom-connect.com/meeting-scheduler/marcom-eschedule-pro/#onsite" target="_blank">Onsite</a>
                      <li>Déplacements ponctuels chez les prospects pour répondre à des cahiers de charge et chez les clients pour leur proposer du support sur site (France et International) à eux et/ou à leurs utilisateurs finaux
            <tr>
              <td class="text-center">
                Depuis Jui. 2012
                <span class="text-muted">Auto-Entrepreneur</span>
              <td>
                <dl>
                  <dt>Freelance <span class="text-muted"><small>(Conception et développement d'applications Web)</small>
                  <dd>
                    <ul>
                      <li><a href="https://www.levieuxcrayon.com" target="_blank">Le Vieux Crayon</a> : extranet de gestion des hébergeants et services du Chemin de Compostelle pour les publications de guides papier et API pour une application mobile
                      <li><a href="https://www.la-cloture-francaise.fr" target="_blank">Kalizé · La Clôture Française</a> : site e-commerce pour la vente en ligne de portails et clôtures en PVC avec système de devis avancé
                      <li><a href="https://www.umen.fr" target="_blank">UMEN</a> : extranet de gestion des adhérents et accompagnants pour leurs 2 pôles d'activité en milieu rural et montagnard pour personnes valides et en situation de handicap
                      <li>Et d'autres projets de mise en place de CMS, d'intégration graphique, d'assistance et conseils pour d'anciens clients, …
            <tr>
              <td class="text-center">
                Déc. 2011 - Sep. 2012
                <span class="text-muted">Developer (10 mois)</span>
              <td>
                <dl>
                  <dt>Developer - <span class="text-muted"><a href="http://www.gpdis.com" target="_blank">AMG Développement · Groupe GPdis</a> <small>(Eurocentre, 31 · 800+ employés)</small>
                  <dd>
                    <ul>
                      <li>Maintenance et développement de nouveaux modules (FAQ, suivi de livraison) pour les sites e-commerce du groupe : <span class="link">Discounteo</span>, <a href="https://www.villatech.fr" target="_blank">Villatech</a>, <a href="https://www.pulsat.fr" target="_blank">Pulsat</a>
                      <li>Refonte complète du site <span class="link">Discounteo</span> en HTML5/CSS3 avec de nombreuses améliorations de performance
                      <li>Gestion des applications middleware (commandes des places de marchés, gestion des retraits en magasin, outils de comptabilité)
            <tr>
              <td class="text-center">
                Avr. 2005 - Nov. 2011
                <span class="text-muted">Project Manager (2 ans)</span>
                <span class="text-muted">Lead Developer (2 ans)</span>
                <span class="text-muted">Developer (2 ans)</span>
                <span class="text-muted">Stagiaire (3 mois)</span>
              <td>
                <dl>
                  <dt>Lead Developer / Project Manager - <span class="text-muted"><span class="link">WaterProof SARL</span> <small>(Montauban, 82 · 5-10 employés)</small>
                  <dd>
                    <ul>
                      <li>Développement, mise en place et suivi de <span class="link">wIT</span>, un outil propriétaire en mode SAAS de gestion de projets et ticketing (similaire à Jira) pour centraliser les demandes clients, suivre les tâches des collaborateurs sur tous les projets/produits de sociétés telles que <a href="https://www.ibexa.com" target="_blank">eZ Systems</a> ou <a href="https://www.intelligence-airbusds.com" target="_blank">Airbus DS Geo</a>
                      <li>
                        Création et maintenance d'applications métiers à forte valeur ajoutée pour des clients grands comptes : <a href="https://www.intelligence-airbusds.com" target="_blank">Airbus</a> (portail de mise à disposition d’images satellite, extranet de programmation satellitaire, outils de reconnaissance d’images), <a href="http://www.prooftag.net/fr/" target="_blank">Prooftag</a> (portail d’accès aux informations des codes à bulles), <a href="https://www.dalta-sa.com" target="_blank">Dalta SA</a> (extranet de gestion, suivi des ventes de VRP, gestion comptable)
        </table>
      </section>