<section>
  <a name="experiences-professionnelles"></a>
  <table class="table table-bordered table-striped table-sm">
    <thead class="table-dark">
      <tr>
        <th colspan="2"><a href="#experiences-professionnelles" onclick="_gaq.push(['_trackEvent', 'Section', 'Expériences professionnelles']);"><i class="bi-briefcase"></i><h2>Expériences professionnelles</h2></a>
    <tbody>
      <tr>
        <td class="text-center">
          oct. 2012
              <span class="badge rounded-pill bg-secondary">Senior Developer (3 ans)</span>
              <span class="badge rounded-pill bg-secondary">Lead Developer (3 ans)</span>
              <span class="badge rounded-pill bg-secondary">Technical Director (2 ans)</span>
        <td>
          <dl>
            <dt>Technical Director - <span class="text-muted"><a href="https://www.marcom-connect.fr/" target="_blank">Marcom Connect</a> <small>(Montauban, 82, 5-10 employés)</small>
            <dd>
              <ul>
                <li>Maintenance d'applications Web de prise de rendez-vous et de networking entre participants (présentiel et virtuel) : <a href="https://www.marcom-connect.fr/prise-de-rendez-vous-d-affaires/marcom-eschedule-pro/" target="_blank">eSchedule PRO</a> et <a href="https://www.marcom-connect.com/meeting-scheduler/marcom-eschedule-pro/#onsite" target="_blank">Onsite</a>
                <li>Création d'une solution dynamique fusionnant/remplaçant les anciens produits : <a href="https://www.marcom-ace.com/fr" target="_blank">ACE</a>
                <li>Gestion de projet et développement de certains modules pour une application mobile cross-platform : <a href="https://play.google.com/store/apps/details?id=com.marcomconnect.onsite" target="_blank">Google Play</a> et <a href="https://apps.apple.com/fr/app/marcom-onsite/id1470919264" target="_blank">Apple Store</a>
      <tr>
        <td class="text-center">
          juin. 2012
        <td>
          <dl>
            <dt>Auto-Entrepreneur <span class="text-muted"><small>(développement d'applications Web)</small>
            <dd>
              <ul>
                <li><a href="https://www.la-cloture-francaise.fr/" target="_blank">La Clôture Française</a> : site e-commerce Magento pour la vente en ligne de portails et clôtures en PVC avec système de devis avancé
                <li><a href="https://www.levieuxcrayon.com/" target="_blank">Le Vieux Crayon</a> : extranet de gestion des hébergeants et services du Chemin de Compostelle pour les publications de guides papier et API pour une application mobile
                <li><a href="https://www.umen.fr/" target="_blank">UMEN</a> : extranet de gestion des adhérents et accompagnants pour leurs 2 pôles d'activité
      <tr>
        <td class="text-center">
          déc. 2011 - sep. 2012
              <span class="badge rounded-pill bg-secondary">Developer (10 mois)</span>
        <td>
          <dl>
            <dt>Web Developer - <span class="text-muted"><a href="http://www.gpdis.com/" target="_blank">AMG Développement | Groupe GPdis</a> <small>(Eurocentre, 31, 800+ employés)</small>
            <dd>
              <ul>
                <li>Maintenance et développement de nouveaux modules Magento (FAQ, suivi de livraison) pour les sites e-commerce du groupe : <span class="link">Discounteo</span>, <a href="https://www.villatech.fr/" target="_blank">Villatech</a>, <a href="https://www.pulsat.fr/" target="_blank">Pulsat</a>
                <li>Refonte complète du site <span class="link">Discounteo</span> en HTML5/CSS3 avec de nombreuses améliorations de performances
                <li>Gestion des applications middleware (commandes des places de marchés, gestion des retraits en magasin, outils de comptabilité)
      <tr>
        <td class="text-center">
          avr. 2005 - nov. 2011
              <span class="badge rounded-pill bg-secondary">Intern (3 mois)</span>
              <span class="badge rounded-pill bg-secondary">Developer (4 ans)</span>
              <span class="badge rounded-pill bg-secondary">Project Manager (2 ans)</span>
        <td>
          <dl>
            <dt>Lead Developer / Project Manager - <span class="text-muted"><span class="link">WaterProof SARL</span> <small>(Montauban, 82, 5-10 employés)</small>
            <dd>
              <ul>
                <li>Développement et suivi de <span class="link">wIT</span> (un produit de gestion de projets/tickets du type JIRA, Mantis) pour centraliser les demandes des clients, suivre les tâches des collaborateurs sur tous les projets/produits de leur société
                <li>
                  Création et maintenance d’applications Web à forte valeur ajoutée pour des grands comptes de la région : <span class="link">Astrium GEO-Information</span> (portail de mise à disposition d’images satellite, extranet de programmation satellitaire, outils de reconnaissance d’images), <a href="http://www.prooftag.net/fr/" target="_blank">Prooftag</a> (portail d’accès aux informations des codes à bulles, <a href="https://www.dalta-sa.com/" target="_blank">Dalta SA</a> (extranet de gestion, suivi des ventes de VRP, gestion comptable), <a href="https://www.be3c.com/" target="_blank">BE3C</a> (intranet de gestion pour les contrôles et maintenance des dispositifs anti-retours d'eau)
  </table>
</section>