<section>
  <a name="formation"></a>
  <table class="table table-bordered table-striped table-sm">
    <thead class="table-dark">
      <tr>
        <th colspan="2"><a href="#formation" onclick="_gaq.push(['_trackEvent', 'Section', 'Formation']);"><i class="bi-award"></i><h2>Formation</h2></a>
    <tbody>
      <tr>
        <td class="text-center">2003 - 2005
        <td>
          <dl>
            <dt>DUT Informatique · Option Génie Informatique - <span class="text-muted">IUT Paul Sabatier (Toulouse, 31)</span>
            <dd>Admis Mention Bien (Major de promotion)
      <tr>
        <td class="text-center">2002 - 2003
        <td>
          <dl>
            <dt>Classe Préparatoire aux Grandes Ecoles - <span class="text-muted">Lycée Bellevue (Toulouse, 31)</span>
            <dd>Filière Mathématiques Physique Sciences de l’Ingénieur
      <tr>
        <td class="text-center">2002
        <td>
          <dl>
            <dt>Baccalauréat S · Option Mathématiques - <span class="text-muted">Lycée Antoine Bourdelle (Montauban, 82)</span>
            <dd>Admis Mention Bien
  </table>
</section>