      <section>
        <a name="formations"></a>
        <table class="table table-bordered table-striped table-sm">
          <thead class="table-success">
            <tr>
              <th colspan="2"><a href="#formations" onclick="dataLayer.push(['_trackEvent', 'Section', 'Formations']);"><i class="bi-bookmark-check"></i><h3>Formations</h3></a>
          <tbody>
            <tr>
              <td class="text-center">Déc. 2018
              <td>
                <dl>
                  <dt>Flutter & Dart <span class="text-muted"><small>(Udemy · En ligne)</small>
                  <dd><span class="text-muted">Formation de développement d'applications mobiles pour iOS et Android
            <tr>
              <td class="text-center">Mar. 2018 - Nov. 2018
              <td>
                <dl>
                  <dt>Coaching d'équipe <span class="text-muted"><small>(OMILO · Montauban, 82)</small>
                  <dd><span class="text-muted">Coaching et formation de travail en équipe
            <tr>
              <td class="text-center">Jui. 2011
              <td>
                <dl>
                  <dt>PostgreSQL & PostGIS <span class="text-muted"><small>(ENI Service · Toulouse, 31)</small>
                  <dd><span class="text-muted">Formation sur l'administration du SGBD et de son extension de manipulation d'informations géographiques (spatiales)
            <tr>
              <td class="text-center">Avr. 2009
              <td>
                <dl>
                  <dt>Management <span class="text-muted"><small>(Orsys Formation · Toulouse, 31)</small>
                  <dd><span class="text-muted">Formation sur le management et la gestion des équipes
        </table>
      </section>