      <div class="card text-dark bg-light mb-3">
        <div class="card-header">
          <figure class="float-start">
            <blockquote class="blockquote">
              <h1>Jean Roussel</h1>
            </blockquote>
            <figcaption class="blockquote-footer">
              <h2>Senior Full-Stack Web Developer (Symfony)</h2>
            </figcaption>
          </figure>
        </div>
        <div class="card-body">
        {% if include.404 %}
          <p class="lead">Désolé, la page que vous demandez est introuvable…</p>
          <p>
            Il est possible que la page recherchée ait été supprimée, que son nom ait changé ou qu'elle ne soit pas disponible pour le moment.
            <br />Cliquez sur le lien suivant pour revenir à la <a href="/">page d'accueil</a>.
          </p>
        {% else %}
          <p class="lead">
            Fort d'une pratique de plus de 15 ans dans le développement d'applications Web en PHP, j'occupe actuellement le poste de directeur technique pour une société d'édition de logiciels. Je maîtrise notamment le framework Symfony depuis ses premières versions et je me suis récemment diversifié dans les applications mobiles en Flutter. Mes différentes expériences professionnelles m'ont permis de développer de nombreux projets pour tout type de secteurs : éducation internationale, e-commerce, édition de livres, aéronautique… Quel que soit le projet qui m'est confié, je peux intervenir dans toutes ses étapes : de l'analyse des besoins aux tests finaux en passant par la conception, le développement et le suivi du planning.
          </p>
          <span class="badge bg-secondary">Esprit d'entreprise</span>
          <span class="badge bg-secondary">Rigueur</span>
          <span class="badge bg-secondary">Adaptabilité</span>
          <span class="badge bg-secondary">Concentration</span>
          <span class="badge bg-secondary">Sens des responsabilités</span>
        {% endif %}
        </div>
        <div class="card-footer text-muted">
          <address>
            <i class="bi-envelope" title="E-mail"></i> <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#106;&#101;&#097;&#110;&#045;&#114;&#111;&#117;&#115;&#115;&#101;&#108;&#046;&#102;&#114;" onclick="_gaq.push(['_trackEvent', 'Social', 'Email']);">&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#106;&#101;&#097;&#110;&#045;&#114;&#111;&#117;&#115;&#115;&#101;&#108;&#046;&#102;&#114;</a>
            <i class="bi-phone" title="Téléphone"></i> <span>06.09.72.82.00</span>
            <span class="d-none d-print-inline"><i class="bi-globe" title="Site"></i> <a href="https://jean-roussel.fr">https://jean-roussel.fr</a></span>
            <i class="bi-house" title="Ville"></i> <span>Montauban, France</span>
            <i class="bi-calendar-event" title="Âge"></i> <span>37 ans</span>
            <span class="d-print-none"><i class="bi-linkedin" title="LinkedIn"></i> <a href="https://www.linkedin.com/in/rousseljean/">Profil LinkedIn</a></span>
            <span class="d-print-none"><i class="bi-download" title="Curriculum Vitæ"></i> <a href="/CV_Roussel-Jean.pdf" target="_blank" rel="nofollow" onclick="_gaq.push(['_trackEvent', 'CV', 'download']);">Curriculum Vitæ (PDF)</a></span>
          </address>
        </div>
      </div>