<head>
    <meta charset=utf-8>
    <title>Jean Roussel · Senior Full-Stack Web Developer (Symfony)</title>
    <meta name="google-site-verification" content="2VoqJn1dJsnTmeaup5muVieF8o8SAN6QaHLkKC1labk" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" lang="fr" content="Jean Roussel · Senior Full-Stack Web Developer (Symfony)">
    <meta name="description" lang="fr" content="Jean Roussel · Senior Full-Stack Web Developer (Symfony)">
    <meta name="keywords" lang="fr" content="cv, jean roussel, jean, roussel, developpeur, developer, web, senior, php, symfony, full-stack, full, stack">
    <meta name="author" content="Jean Roussel, contact@jean-roussel.fr">
    <meta name="robots" lang="fr" content="index, follow" />
    <link rel="bookmark" href="https://jean-roussel.fr/#experiences-professionnelles" lang="fr" title="Expériences professionnelles" />
    <link rel="bookmark" href="https://jean-roussel.fr/#competences" lang="fr" title="Compétences" />
    <link rel="bookmark" href="https://jean-roussel.fr/#formations" lang="fr" title="Formations" />
    <link rel="bookmark" href="https://jean-roussel.fr/#diplomes" lang="fr" title="Diplômes" />
    <link rel="bookmark" href="https://jean-roussel.fr/#divers" lang="fr" title="Divers" />
    <link rel="alternate" type="application/pdf" href="/CV_Roussel-Jean.pdf" media="print">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/all.css?v4" media="all" />
    <link rel="icon" href="data:,">