<div class="card text-dark bg-light mb-3" itemscope itemtype="http://data-vocabulary.org/Person">
  <div class="card-header"><h1><span itemprop="name">Jean ROUSSEL</span> · <span itemprop="title">Senior Web Developer · Symfony</span></h1></div>
  <div class="card-body">
    <address>
	    <div>
	      <i class="bi-house"></i> <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"><span itemprop="street-address">17 impasse Louis Cabanes</span> · <span itemprop="postal-code">82000</span> <span itemprop="locality">Montauban</span>, <span itemprop="country-name">France</span></span>
	      <br /><i class="bi-envelope"></i> <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#106;&#101;&#097;&#110;&#045;&#114;&#111;&#117;&#115;&#115;&#101;&#108;&#046;&#102;&#114;" onclick="_gaq.push(['_trackEvent', 'Social', 'Email']);"><span itemprop="email">&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#106;&#101;&#097;&#110;&#045;&#114;&#111;&#117;&#115;&#115;&#101;&#108;&#046;&#102;&#114;</span></a>
	      <span class="d-none d-print-inline"> · <i class="bi-globe"></i> <a href="https://jean-roussel.fr/"><span itemprop="url">https://jean-roussel.fr/</span></a></span>
	    </div>
	  </address>
    <a href="/CV_Roussel-Jean.pdf" target="_blank" class="btn btn-success btn-large d-print-none" rel="nofollow" onclick="_gaq.push(['_trackEvent', 'CV', 'download']);">Télécharger mon Curriculum Vitæ au format PDF</a>
  </div>
</div>