<head>
    <meta charset=utf-8>
    <title>Jean ROUSSEL · Développeur Web Symfony &amp; Magento</title>
    <meta name="google-site-verification" content="2VoqJn1dJsnTmeaup5muVieF8o8SAN6QaHLkKC1labk" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" lang="fr" content="Jean ROUSSEL · Développeur Web Symfony &amp; Magento">
    <meta name="description" lang="fr" content="Jean ROUSSEL · Développeur Web Symfony &amp; Magento">
    <meta name="keywords" lang="fr" content="jean roussel, jean, roussel, symfony, magento, developpeur web, php">
    <meta name="author" content="Jean ROUSSEL, contact@jean-roussel.fr">
    <meta name="robots" lang="fr" content="index, follow" />
    <link rel="bookmark" href="http://jean-roussel.fr/#formations" lang="fr" title="Formations" />
    <link rel="bookmark" href="http://jean-roussel.fr/#experiences-professionnelles" lang="fr" title="Expériences professionnelles" />
    <link rel="bookmark" href="http://jean-roussel.fr/#competences" lang="fr" title="Compétences" />
    <link rel="bookmark" href="http://jean-roussel.fr/#divers" lang="fr" title="Divers" />
    <link rel="publisher" href="https://plus.google.com/+JeanRoussel" />
    <link rel="alternate" type="application/pdf" href="/CV_Roussel-Jean.pdf" media="print">
    <link rel="stylesheet" type="text/css" href="/css/main.css" media="all" />