    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/"><span class="no-print"><img src="http://www.gravatar.com/avatar/e6be7df28d128e3a4397a81b1ba362b0?s=20" />&nbsp;</span>Jean ROUSSEL · Développeur Web expert Symfony &amp; Magento</a>
          <div class="nav-collapse no-print">
            <ul class="nav nav-social">
              <li class="doyoubuzz"><a href="http://www.doyoubuzz.com/jean-roussel/" title="DoYouBuzz" onclick="_gaq.push(['_trackEvent', 'Social', this.title]);" target="_blank">DoYouBuzz</a></li>
              <li class="email"><a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#106;&#101;&#097;&#110;&#045;&#114;&#111;&#117;&#115;&#115;&#101;&#108;&#046;&#102;&#114;" title="Email" onclick="_gaq.push(['_trackEvent', 'Social', this.title]);">Email</a></li>
              <li class="googleplus"><a href="https://plus.google.com/104675137587681986960?prsrc=3" title="Google+" onclick="_gaq.push(['_trackEvent', 'Social', this.title]);" target="_blank" rel="author">Google+</a></li>
              <li class="linkedin"><a href="http://fr.linkedin.com/in/rousseljean" title="LinkedIn" onclick="_gaq.push(['_trackEvent', 'Social', this.title]);" target="_blank">LinkedIn</a></li>
              <li class="remixjobs"><a href="https://remixjobs.com/cv/Jean-Roussel/33641" title="RemixJobs" onclick="_gaq.push(['_trackEvent', 'Social', this.title]);" target="_blank">RemixJobs</a></li>
              <li class="twitter"><a href="https://twitter.com/#!/roussel_jean" title="Twitter" onclick="_gaq.push(['_trackEvent', 'Social', this.title]);" target="_blank">Twitter</a></li>
              <li class="viadeo"><a href="http://www.viadeo.com/fr/profile/jean.roussel10525" title="Viadeo" onclick="_gaq.push(['_trackEvent', 'Social', this.title]);" target="_blank">Viadeo</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>