body {
  padding-top: 60px;
}
a.btn-navbar {
  display: none;
}
ul.nav-social {
  float: right !important;
}
ul.nav-social li a {
  padding-left: 2px !important;
}
table th a, table th a:hover {
  color: #fff;
  text-transform: uppercase;
  display: block;
  text-decoration: none;
}
td.column-left {
  text-align: center;
}
dl {
  margin-top: 0px;
  margin-bottom: 0px;
}
dl dt span.help-block {
  display: inline;
  font-weight: normal;
}
address {
  text-align: center;
}