<!doctype html>
<html lang=fr>
  <head>
    <meta charset=utf-8>
    <title>{{ page.title }}</title>
    <meta name="google-site-verification" content="2VoqJn1dJsnTmeaup5muVieF8o8SAN6QaHLkKC1labk" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" lang="fr" content="Jean ROUSSEL · Développeur Web expert Symfony &amp; Magento">
    <meta name="description" lang="fr" content="Jean ROUSSEL · Développeur Web expert Symfony &amp; Magento">
    <meta name="keywords" lang="fr" content="jean roussel, jean, roussel, symfony, magento, developpeur web, php">
    <meta name="author" content="Jean ROUSSEL, contact@jean-roussel.fr">
    <meta name="robots" lang="fr" content="index, follow" />
    <link rel="bookmark" href="http://jean-roussel.fr/#formations" lang="fr" title="Formations" />
    <link rel="bookmark" href="http://jean-roussel.fr/#experiences-professionnelles" lang="fr" title="Expériences professionnelles" />
    <link rel="bookmark" href="http://jean-roussel.fr/#competences" lang="fr" title="Compétences" />
    <link rel="bookmark" href="http://jean-roussel.fr/#divers" lang="fr" title="Divers" />
    <link rel="publisher" href="https://plus.google.com/104675137587681986960" />
    <link rel="alternate" type="application/pdf" href="/CV_Roussel-Jean.pdf" media="print">
    <link rel="stylesheet/less" href="/assets/less/bootstrap.less" media="all" />
    <script src="/assets/js/less-1.3.0.min.js"></script>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29328957-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <body>
    {% include nav.html %}
    <div class="container">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div>